# Entornos virtuales
venv/
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Variables de entorno
.env

# Archivos de VS Code
.vscode

#archivo excel
*.xlsx
*.parquet
*.pptx

# Archivo pth
*.pth

# Agregar mlflow training
mlartifacts/
mlruns/
*.db